<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="foreground/layout-simple">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>寄送地址管理</title>
    <script>
        $(function(){
            $(".delete").click(function(e){
                $.confirm('确定要删除吗？',function(){
                    $.ajax({
                        url:'/commonsite/delete.json?id='+ e.currentTarget.id,
                        type:'POST',
                        dataType:"json",
                        success:function(data) {
                            if(data.suc){
                                $(".close").click();
                                alert("删除成功！");
                                window.location.href = "/commonsite/list.html";
                            }else{
                                alert("删除有误！");
                                window.location.href = "/commonsite/list.html";
                            }
                        }
                    });
                });
            });


            $(".defaultAddress").click(function(e){
                $.confirm('确定要设置该地址为默认地址吗？',function(){
                    $.ajax({
                        url:'/commonsite/defaultAddress.json?id='+ e.currentTarget.id,
                        type:'POST',
                        dataType:"json",
                        success:function(data) {
                            if(data){
                                $(".close").click();
                                alert("设置成功！");
                                window.location.href = "/commonsite/list.html";
                            }else{
                                alert("设置失败！");
                                window.location.href = "/commonsite/list.html";
                            }
                        }
                    });
                });
            });
        });
    </script>
</head>
<body>
<div id="content" layout:fragment="content">
    <div class="wrap">
        <div class="crumbs"><a href="javascript:void(0)">首页</a><span class="gt">&gt;</span><span class="current_page">发票管理</span></div>
        <div class="main_right">
            <div class="cur_title"><h2>发票管理</h2></div>
            <div class="manage_mod">
                <div class="hd hd_tab">
                    <a href="/userNoteType/list.html">发票列表</a>
                    <a href="/usernote/list.html">发票信息管理</a>
                    <a href="javascript:void(0)" class="current">寄送地址管理</a>
                </div>
                <div class="bd">
                    <from id="searchForm">
                    <table class="table_row address_table">
                        <thead>
                        <tr>
                            <th>收件人姓名</th>
                            <th>电话号码</th>
                            <th>邮编</th>
                            <th>地址</th>
                            <th class="handle">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="commList:${commList}">
                            <td th:text="${commList.commsitMessrs}"></td>
                            <td th:text="${commList.commsitPhone}"></td>
                            <td th:text="${commList.commsitPostcode}"></td>
                            <td>
                                <span th:text="${commList.proname}"></span><span th:text="${commList.citname}"></span><span th:text="${commList.areaname}"></span><span th:text="${commList.commsitStreet}"></span>
                                &nbsp;&nbsp;<a href="#" th:id="${commList.id}" class="defaultAddress" style="color:#b1bac1">设为默认地址</a><span th:if="${commList.commsitState==1}" style="color:#0000ff">（默认地址）</span>
                            </td>
                            <td class="handle"><a th:href="@{/commonsite/view.html(id=${commList.id})}">修改</a>|<a class="delete" th:id="${commList.id}" >删除</a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr th:if="${commList!=null &amp;&amp; commList.size()!=5}">
                            <td colspan="5"><a  href="/commonsite/view.html" class="light" id="add">＋使用新地址</a>(最多保存5个地址)</td>
                        </tr>
                        <tr th:if="${commList==null}">
                            <td colspan="5"><a  href="/commonsite/view.html" class="light" id="add">＋使用新地址</a>(最多保存5个地址)</td>
                        </tr>
                        </tfoot>
                    </table>
                    </from>
                </div>
            </div>
        </div>
        <div class="asid_left">
            <div class="account_menu">
                <ul class="aside_menu">
                    <li>
                        <h3 class="menu_hd"><a href="javascript:void(0)">会员中心</a><i class="minus_ico"></i></h3>
                        <div class="sub_menu" style="display: none">
                            <a href="javascript:void(0)">心外科</a>
                            <a href="javascript:void(0)" >肿瘤科</a>
                            <a href="javascript:void(0)">妇科</a>
                            <a href="javascript:void(0)">口腔科</a>
                        </div>
                    </li>
                    <li>
                        <h3 class="menu_hd"><a href="javascript:void(0)">账户信息设置 </a><i class="plus_ico"></i></h3>
                        <div class="sub_menu" >
                            <a href="javascript:void(0)">个人信息</a>
                            <a href="javascript:void(0)">公司信息</a>
                            <a href="javascript:void(0)">密码修改</a>
                            <a href="javascript:void(0)">联系人管理</a>
                            <a href="/userNoteType/list.html" class="acitve">发票信息</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
