.account_container{}
.container{padding-bottom: 50px;}
.light{color:#0a71d7;}
.state_disble{color:#999;}

.main_right{margin-left: -1px;padding:0 30px;width: 949px;min-height: 670px;float: right;border:1px solid #e3e3e3;}
.asid_left{width: 188px;min-height: 670px;float: left;border:1px solid #e3e3e3;background-color:#f6f6f6;}

.member_left{float:left;width:200px;}
.member_right{float:right;width:999px;}


.cur_title{position: relative;margin-bottom: 20px;padding: 14px 0 10px;border-bottom:1px solid #e3e3e3;}
.cur_title h2{padding-left: 5px;line-height: 22px;height: 22px;overflow: hidden;font-size: 16px;font-weight:600;border-left:3px solid #2c81ff;}
.cur_title .more{position: absolute;right:0;top:15px;}

.account_menu{}
.aside_menu {padding:0 15px;min-height: 500px;}
.aside_menu li{border-bottom:1px solid #d5d5d5;}
.aside_menu .menu_hd{position:relative;padding:0 0 0 35px ;height:50px;line-height:50px;font-size:14px;font-weight:600;cursor: pointer;}
.aside_menu .menu_hd i{position:absolute;top:22px;right:20px;margin-left: 10px;width: 9px;height: 9px;}
.aside_menu .menu_hd i.plus_ico{background-position:0 -54px;}
.aside_menu .menu_hd i.minus_ico{background-position:-14px -54px;}
.aside_menu .sub_menu{border-top:1px solid #d5d5d5;font-size: 14px;}
.aside_menu .sub_menu a{display:block;padding-left:40px;line-height: 50px;}
.aside_menu .sub_menu a+a{border-top:1px solid #d5d5d5;}
.aside_menu .sub_menu a.acitve{color:#186be5;}
.aside_menu .sub_menu a:hover{color:#186be5;text-decoration: none;}

.member_menu {padding:0 15px;min-height: 500px;}
.member_menu .menu_hd{position:relative;padding:5px 0 5px 19px;height:30px;line-height:30px;font-size:14px;font-weight:bold;}
.member_menu .menu_hd i{position:absolute;top:13px;left:0;width: 12px;height: 12px;background:url(../imgs/sprits_member.png) no-repeat 0 -18px;}
.member_menu .menu_hd i.plus_ico{background-position:-17px -18px;}
.member_menu .sub_menu{padding:5px 0;font-size:14px;}
.member_menu .sub_menu a{display:block;padding-left:20px;line-height: 33px;}
.member_menu .sub_menu a.active{color:#186be5;}
.member_menu .sub_menu a:hover{color:#186be5;text-decoration: none;}


.prodouct_bar li{position:relative;padding:0 0 0 20px ;height:50px;line-height:50px;font-size:14px;font-weight:600;cursor: pointer;font-weight: normal;}
.prodouct_bar .menu_hd{padding-left: 0;}
.prodouct_bar i{position:absolute;top:22px;right:20px;margin-left: 10px;width: 9px;height: 9px;}
.prodouct_bar i.minus_ico{background-position:-14px -54px;}
.prodouct_bar .active a{color:#186be5;}

.hd_tab{height: 50px;line-height: 50px;margin-bottom:20px;border:1px solid #e3e3e3;border-right:none;border-left:none;background-color:#f7f7f7;font-size: 14px;font-weight: 600;}
.hd_tab a{float: left;margin-left: -1px;width:145px;text-align:center;border-right:1px solid #e3e3e3;border-left:1px solid #e3e3e3;}
.hd_tab a.current{height: 51px;color:#2c81ff;background-color:#fff;}
.hd_tab a:hover{text-decoration: none;}

.hd_select{margin-bottom: 20px;padding-left: 20px;font-size: 14px;}
.hd_select:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
.hd_select{*zoom:1;}
.hd_select .select_box{float: left;margin-right: 10px;}
.hd_select .input_txt{width:238px;}
.hd_select .keyName{margin-right: 10px;font-weight: normal;}
.hd_select .btn_weak{padding: 0;*padding: 0;height: 34px;line-height: 34px;width: 100px;}
.add_invoice,a.add_invoice{float: right;height: 34px;line-height: 34px;font-size: 16px;}
.table_row{width: 100%;border:1px solid #dfdfe1;font-size: 14px;}
.table_row th,
.table_row td{padding-left: 50px;height: 55px;border-bottom:1px dotted #dfdfe1;text-align:left;}
.table_row th{height:35px;background-color: #f6f6f6;}

.address_table .handle a{display: inline-block;margin: 0px 5px;}
.manage_mod .write_tips{padding-left: 40px;line-height: 60px;font-size: 14px;font-weight: 400;color:#f00;}

.filed_info{overflow: hidden;zoom:1;line-height: 38px;font-size: 16px;}
.filed_info .input_txt{height: 34px;line-height: 34px;width: 260px;font-size: 14px;}
.filed_info .w_s{width: 140px;}
.filed_info .filed_con a{color:#186be5;}
.filed_info .upload_tips{font-size: 14px;}
.filed_action .btn_key,.filed_action .btn_weak{margin-right: 20px;padding: 0;*padding: 0;width:200px;height: 38px;line-height: 38px;}

.filed_info li:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;font-size: 14px;}
.filed_info li{*zoom:1;}
.filed_info li{padding:0 0 25px 220px;position: relative;}
.filed_info li label.keyName{position: absolute;left:0;top: 0;padding-right: 20px;display: inline-block;width: 200px;line-height: 36px;color:#333;text-align: right;font-size: 14px;font-weight: 400;}
.filed_info li label.keyName .star{padding-right: 5px;color:#f00;}
.filed_info li .sel_box{display: inline-block;margin-right: 20px;}
.filed_info li .sel_box input{margin-right:5px;}
.filed_info li .apply_btn{padding: 0;*padding: 0;width: 140px;height: 35px;line-height: 35px;color:#333;}
.filed_info li .logo_box{padding-top: 20px;}
.filed_info li .logo_box .thumb{width: 105px;height: 105px;}
.filed_info li .pic_box{padding-top: 20px;}
.filed_info li .pic_box .thumb{width: 140px;height: 140px;}
.filed_info li .ui-select{display: inline-block;*display: inline;width: 140px;margin-right: 10px;}
.filed_info li .ui-select li{padding-bottom: 0;font-size: 14px;}
.filed_info li .tip_text{position: absolute;line-height: 20px;font-size: 12px;}
.filed_info li .arrow_tip{color:#f00;}
.filed_info li .unit{display: inline-block;margin-left: 10px;}

/*产品基本信息*/
.pro_detail .hd{position: relative;}
.pro_detail .anew_btn{position:absolute;top:8px;right:8px;width:129px;height: 32px;line-height: 32px;color:#000;font-size:14px;border:#e3e3e3 solid 1px;background:url(../imgs/btn_bg.png) repeat-x 0 0;text-align: center;}
.pro_detail_table{margin:30px auto;width:780px;border:#e3e3e3 solid 1px;}
.pro_detail_table td{padding:12px 24px;color:#333;font-size:14px;}
.pro_detail_table td.t1{text-align:right;width:145px;color:#949393;}
.pro_detail_table .bg{background:#fafafa;}
.pro_detail_table .price{color:#f00;}
.inventory_info .bd{padding:30px 20px;}
.inv_info_table{width:100%;margin-top:-1px;}
.inv_info_table td{padding:0 20px;font-size:14px;color:#333;}
.inv_info_table td.t1{width:25px;}
.inv_info_table td.t2{width:380px;}
.inv_info_table td.t3{width:160px;}
.inv_info_table td.t4{width:175px;}
.inv_info_table thead td{height:34px;line-height:34px;background:#fafafa;}
.inv_info_table tbody td{padding:20px;border-bottom:#ddd dashed 1px;}
.inv_info_table .pro_info .pic{float:left;margin-right:40px;border:#cecece solid 1px;}
.inv_info_table .pro_info .name{color:#2c81ff;font-size:14px;}
.inv_info_table .pro_info .name a{color:#2c81ff;}
.inv_info_table .pro_info .gray{color:#999;}
.inv_info_table .text{width:92px;height:32px;line-height:32px;border:#d4d4d4 solid 1px;font-family:"arial";font-size:18px;color: #333;font-weight: bold;text-align: center;}
.inv_info_table .btn_plus{display:inline-block;vertical-align:middle;width:32px;height:32px;line-height:32px;text-align:center;border:#d4d4d4 solid 1px;color:#333;font-size:25px;}
.inv_info_table .btn_plus:hover{text-decoration: none}
.inv_info_table .text_amount{display:inline-block;vertical-align:middle;padding-right:10px;width:68px;height:32px;line-height:32px;border:#d4d4d4 solid 1px;font-family:"arial";font-size:18px;color: #333;font-weight: bold;text-align: right;}

/*尚未选择商品*/
.not_pro{padding:40px 0;font-size:34px;color:#f00;text-align: center;}
.not_pro i{display: inline-block;margin-right:10px;vertical-align:middle;width:35px;height:35px;background:url(../imgs/sprits_member.png) no-repeat 0 -163px;}
.add_pro_box{margin:0 auto;padding:10px 0 50px;width:271px;text-align: center;}
.add_pro{display:inline-block;width:271px;height:271px;line-height:225px;border:#c5c5c5 dashed 2px;font-size:290px;font-weight: bold;color:#a4a4a4;text-align: center;}
.add_pro:hover{text-decoration: none;color:#a4a4a4;}
.add_btn{margin-top:28px;display:inline-block;width:209px;height:47px;line-height:47px;font-size:18px;border:#e3e3e3 solid 1px;color:#333;text-align: center;background:url(../imgs/btn_bg.png) repeat-x 0 0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}

/*上架选择分类弹出框*/
.dialog_filter{position:fixed;top:0px;bottom:0;right:0;left:0px;filter: alpha(opacity=50);-moz-opacity:.5;opacity:0.5;background-color:#000;z-index:998;}
.dialog_box{position:fixed;top:50%;left:50%;z-index:999;margin:-300px 0 0 -400px;width:840px;height:600px;background:#fff;}
.dialog_box .close{position:absolute;top:-20px;right:-2px;width:44px;height:44px;background:url(../imgs/sprits_member.png) no-repeat 0 -228px;}
.dialog_box .hd{height:48px;line-height:48px;background:#f6f6f6;border:#e3e3e3 solid 1px;}
.dialog_box .hd .title{padding-left: 20px;font-size: 18px;font-weight:400;color:#333;}
.dialog_box .bd{padding:30px 60px;}
.dialog_box .dialog_search{*zoom:1;padding-bottom:30px;border-bottom:#f1f1f1 solid 1px;}
.dialog_box .dialog_search:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
.dialog_box .search_tit{float:left;margin:30px 20px 0 0;color:#333;font-size:14px;margin:30px 20px 0 0;color:#333;}
.dialog_box .head_search{padding:0;float:left;}
.dialog_box .head_search_con{padding-right:92px;height:32px;border:0;}
.dialog_box .head_search input.keyword{width:248px;height:26px;line-height:26px;}
.dialog_box .head_search .search_btn{right:0;width:82px;height:32px;color:#333;font-size:12px;border:#d3d3d3 solid 1px;background:url(../imgs/btn_bg.png) repeat-x 0 0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.dialog_box .head_search .btn_weak{width:102px;height:32px;font-size:12px;background:url(../imgs/btn_bg.png) repeat-x 0 0;}
.dialog_box .head_search_tabs a{background:none;color:#333;font-family:"simsun"}
.dialog_box .head_search_tabs .current a,.dialog_box .head_search_tabs .current a:hover{color:#2c81ff;background:none;font-weight:normal;}
.dialog_box_choose{position:absolute;height:auto}
.dialog_box_choose .btn_box{position:absolute;top:0;right:58px;*top:10px}
.dialog_box_choose .btn_box .btn_weak{line-height:28px}
.dialog_box .choose_border{border-top:1px solid #f1f1f1;height:1px;}
.dialog_box .choose_ul{margin-top:20px;width:732px;}
.dialog_box .choose_ul li{border:1px solid #e3e3e3;width:213px;float:left;margin:0 29px 20px 0}
.dialog_box .choose_ul li .choose_detail_box{width:180px;margin:0 auto}
.dialog_box .choose_ul li img{vertical-align:top}
.dialog_box .choose_ul li .choose_detail_box img{vertical-align:middle}
.dialog_box .choose_ul li .choose_detail_box .choose_detail{color:#333;line-height:24px;margin-bottom:10px}
.dialog_box .choose_ul li .choose_detail_box .choose_company{text-align:center;margin-bottom:10px}
.dialog_box .choose_ul li .choose_products{text-align:center;background:#f6f6f6;height:38px;line-height:38px;border-top:1px solid #e3e3e3;font-size:14px}
.classify_mod{margin-top:0px;}
.classify_mod .search_tit{float:none;margin-top:15px;}
.classify_ul {margin-top:20px;overflow: hidden;}
.classify_ul .item{float:left;margin-right:-1px;width:180px;font-family:"simsun";}
.classify_ul .s_input{border:#d5e4fa solid 1px;border-bottom:0;color:#9fb0e1;background: #f5f9ff}
.classify_ul .s_input i{margin:2px 5px 0;display:inline-block;vertical-align: middle;width:14px;height:14px;background:url(../imgs/sprits_member.png) no-repeat 0 -207px;}
.classify_ul .s_input .keyword{border:0;width:154px;height:30px;line-height:30px;background:#f5f9ff;vertical-align: middle;}
.classify_ul .s_menu{padding:19px 22px;border:#e3e3e3 solid 1px;height:260px;overflow-y:auto;}
.classify_ul .s_menu li{margin-bottom:2px;}
.classify_ul .s_menu li a{display:block;padding:0 10px;height:23px;line-height:23px;background:#fff;border:#fff solid 1px;}
.classify_ul .s_menu li a i{float:right;font-style: normal;font-size:14px;}
.classify_ul .s_menu li a:hover,.classify_ul .s_menu li.on a{background:#ebf5fe;border:#b2d6fa solid 1px;text-decoration: none}
/*站内信弹窗*/
.dialog_box .message_bd{padding-left:55px}
.dialog_box .message_mod li{width:720px;padding:20px 0;border-top:1px solid #e3e3e3;margin-top:-1px}
.dialog_box .message_mod li .portrait{width:60px;height:60px;float:left}
.dialog_box .message_mod li .portrait img{width:60px;height:60px}
.dialog_box .message_mod li .name_time{float:left;padding:0 42px 0 19px}
.dialog_box .message_mod li .name_time .message_name{font-size:14px}
.dialog_box .message_mod li .name_time .message_time{font-size:12px;color:#999}
.dialog_box .message_mod li .title_detail{float:left;font-size:14px}
.dialog_box .message_mod li .title_detail .message_title{color:#2c81ff}
.dialog_box .message_mod li .title_detail .message_detail{margin-top:10px}
.dialog_box .message_mod li .filed_on{padding-left:19px;float:left}
.dialog_box .message_mod .btn_box{padding-left:79px}
.dialog_box .message_mod .btn_box .btn_key{margin-right:20px;width:130px;height:36px;line-height:36px}
/*其他信息*/
.other_info{padding:60px 40px;}
.other_info li{padding:0 0 30px 85px;font-size:14px;color:#333;}
.other_info li .name{display:inline-block;margin-left:-85px;width:85px;text-align:right;vertical-align:top}
.other_info li .option{display:inline-block;margin-right:15px;width:130px;}
.other_info li .option input{margin-right:5px;}
.other_info li .textarea{width:478px;height:163px;border:#e3e3e3 solid 1px;}
.other_info li .btn{margin-right:20px;width:127px;height:36px;border:#2c81ff solid 1px;background:#2c81ff;color:#fff;font-size:16px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.other_info li .btn_gray{background:#f6f6f6;border-color:#e3e3e3;color:#333;}

/*我要卖*/
.hd_input{padding:10px 0 30px 10px;border-bottom:#e1e1e1 dashed 1px;font-size:14px;color:#333;}
.hd_input div{margin-top:20px;}
.hd_input .text{margin-right:40px;padding:0 5px;width:160px;height:28px;line-height: 28px;border:#ccc solid 1px;}
.hd_input .text2{width:270px;}
.hd_input .text3{margin:0;}
.hd_input .text4{margin:0 5px;width:115px;}
.hd_input .time{margin-left:20px;}
.hd_input .time input{margin-right:8px;}
.hd_input .btn{margin-left:20px;width:130px;height:28px;border:#e3e3e3 solid 1px;background:url(../imgs/btn_bg.png) repeat-x 0 -10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#333;}
.hd_input .btn_key{margin-left: 20px;padding:0;width: 130px;height: 38px;line-height: 38px;}
.hd_input .btn_weak{margin-left: 20px;padding:0;width: 130px;height: 38px;line-height: 38px;border:#e3e3e3 solid 1px;}
.hd_input .selectMod, .hd_input .ui-select, .hd_input .con{margin-top:0;display:inline-block;vertical-align:middle;}
.hd_input .con{*display:inline}
.hd_input .sel_box{display: inline-block;margin:0 10px;}
.hd_input .sel_box input{margin-right: 5px;}
.sale_pro .appraise_ico{margin-right: 5px;vertical-align:middle}
.sale_pro .operate{padding-right:17px}
.sale_pro{margin-top:30px;color:#333;}
.sale_pro th{padding:0 20px;}
.sale_pro td{padding:20px;}
.sale_pro .pic{float:left;margin-right:10px;border:#ccc solid 1px;}
.sale_pro .pic img{width:82px;height:82px;}
.sale_pro .name{float:left;margin-top:16px;width:115px;}
.sale_pro .supply_name{margin-top:0}
.sale_pro .number{color:#999;}
.sale_pro .wait{color:#2c81ff;}
.sale_pro a{color:#333;}
/*产品发布*/
.launch_pro{margin:0;margin-bottom:-1px;}
.launch_pro_ul{margin:30px auto;width:790px;overflow: hidden;*padding:30px 0}
.launch_pro_ul li label.name .star{padding-right: 5px;color:#f00;}
.launch_pro_ul li:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
.launch_pro_ul li{*zoom:1;margin-bottom:20px;padding-left:100px;font-size:14px;color:#414141;}
.launch_pro_ul li .ui-select{width:140px}
.launch_pro_ul .ui-select .select-list li{margin:0}
.launch_pro_ul li .btn_key{margin-right: 20px;width: 130px;}
.launch_pro_ul li .btn_weak{margin-right: 20px;padding:0;width: 130px;height: 38px;line-height: 38px;}
.launch_pro_ul li .name{float:left;margin-left:-100px;width:100px;height:32px;line-height:32px;text-align:right;}
.launch_pro_ul li .con{float:left;}
.launch_pro_ul li .text{margin-right:10px;padding:0 5px;width:348px;height:32px;line-height:32px;border:#d4d4d4 solid 1px;}
.launch_pro_ul li .text2{margin-right:20px;width:200px;}
.launch_pro_ul li .text_price{width:310px;}
.launch_pro_ul li .text_area{position:relative;}
.launch_pro_ul li .text_area .hint{position:absolute;bottom:2px;right:5px;color:#949393;}
.launch_pro_ul li .text_area .hint i{font-weight:bold;color:#2c81ff;}
.launch_pro_ul li .textarea{padding:5px;width:628px;height:160px;line-height:22px;border:#d4d4d4 solid 1px;}
.launch_pro_ul li .btn,.accessory_pic .btn{display:inline-block;margin-right:10px;width:130px;height:34px;line-height:34px;border:#e3e3e3 solid 1px;background:url(../imgs/btn_bg.png) repeat-x 0 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align: center;}
.launch_pro_ul .upload_pro{margin-top:20px;}
.launch_pro_ul .upload_pro img{margin-right:10px;float:left;width:104px;height:104px;border:#d4d4d4 solid 1px;}
.launch_pro_ul .pro_pic{float:left;}
.launch_pro_ul .pro_pic img{margin-right:20px;width:128px;height:128px;border:#d4d4d4 solid 1px;}
.launch_pro_ul .add_pro{width:126px;height:126px;font-size:120px;line-height:100px;}
.accessory_detail .hd .more{top:7px;right:8px;width:130px;height:34px;line-height:34px;border:#e3e3e3 solid 1px;background:url(../imgs/btn_bg.png) repeat-x 0 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align: center;font-size:14px;}
.accessory_detail .bd{position:relative;}
.accessory_detail li .btn{height:38px;line-height:38px;width:140px;font-size:16px;}
.accessory_detail li .update_btn{margin-right:20px;background:#2c81ff;border-color:#2c81ff;color:#fff;}
.accessory_detail .accessory_pic{position:absolute;top:30px;left:20px;}
.accessory_detail .accessory_pic li{margin-bottom:10px;font-size:14px;color:#000;}
.accessory_detail .accessory_pic img{margin-left:10px;width:128px;height:128px;border:#cecece solid 1px;}
.accessory_detail .accessory_pic .btn{margin:10px 0 0 50px;width:130px;height:32px;line-height: 32px;}

/*右边*/
.userinfo{margin-bottom:20px;border:#ddd solid 1px;overflow: hidden;color:#333;}
.userinfo .baseinfo{float:left;padding:20px;width:520px;height:136px;background: #f9fafc;}
.userinfo .baseinfo .avatar{float:left;width:105px;}
.userinfo .baseinfo .avatar img{width:103px;height:103px;border:#ddd solid 1px;}
.userinfo .baseinfo .avatar a{display: block; text-align: center;color:#2c81ff;}
.userinfo .baseinfo .avatar a.set{margin-top:10px;text-decoration: underline;} 
.userinfo .baseinfo .info{float:left;margin-left: 20px;width:395px;}
.userinfo .baseinfo .info .title{margin-bottom:10px;font-size:18px;font-weight: bold;}
.userinfo .baseinfo .info span{margin-right:15px;display: inline-block;}
.userinfo .baseinfo .info i{margin-right:5px;display: inline-block; vertical-align: middle;width:15px;height:18px;background:url(../imgs/sprits_member.png) no-repeat 0 -34px;}
.userinfo .baseinfo .info .icon2{background-position: -18px -34px}
.userinfo .baseinfo .info .btn{margin-top:15px;display: inline-block;width:138px;height:32px;line-height:32px;background:#2c81ff;color:#fff;font-size:16px;text-align: center;border:#e3e3e3 solid 1px;cursor: pointer;}
.userinfo .assets{float:left;padding:0 10px;width:197px;height:176px;border-left:#ddd solid 1px;}
.userinfo .assets .tit{padding:10px 0;font-size:24px;text-align: center;font-weight: bold;}
.userinfo .assets .amount{padding-top:10px;height:63px;font-size:18px;text-align: center;line-height:20px;}
.userinfo .assets .amount .num{color:#ff0000;font-size:16px;font-weight: bold;}
.userinfo .assets .amount .num i{font-style: normal;font-size:24px;}
.userinfo .assets .amount .f12{font-size:12px;}
.userinfo .assets .btnMod{padding:10px 0;border-top:#e1e1e1 dashed 1px;}
.userinfo .assets .btnMod a{margin:0 5px;cursor: pointer;}
.userinfo .assets .btnMod .btn{display:inline-block;width:51px;height:22px;line-height:22px;border:#e3e3e3 solid 1px;color:#333;text-align:center;background:#f5f5f5;border-radius:3px}
.userinfo .assets .btnMod .link{color:#2c81ff;}


/*我的产品*/
.mod_box .arrow_icon{position: absolute;top:110px;width:25px;height:50px;background:url(../imgs/sprits_member.png) no-repeat 0 -108px;}
.mod_box .prev{left:7px;}
.mod_box .next{right:7px;background-position:-29px -108px}
.mod_box .prev:hover{background-position: 0 -55px;}
.mod_box .next:hover{background-position: -29px -55px;}
.pro_list{position:relative;padding:39px 29px;overflow: hidden;}
.pro_list li{float:left;margin:0 10px;width:212px;}
.pro_list li .pic{display:block;margin-bottom:5px;padding: 2px;border:#e3e3e3 solid 1px;width:215px;height:199px;}
.pro_list li .pic img{width: 100%;height: 100%;}
.pro_list li .pic:hover{border-color:#2c81ff;}
.pro_list li .name{height:50px;line-height:25px;overflow:hidden;font-size:14px;}
.pro_list li .price{margin-top:10px;font-weight:bold;font-size:18px;color:#f00;}
/*我的申请*/
.mod_box_con .bd{padding:10px;}
.mod_box_con .mod_box{float:left;width:490px;}
.mod_box_con .m_quality{float:right;}
.apply_for{width:100%;}
.apply_for td{padding:0 12px;line-height:34px;color:#333;vertical-align: middle;}
.apply_for thead td{background:#f9fafc}
/*我的关注*/
.my_expert .bd{padding: 0}
.expertBd{position:relative;overflow: hidden;width:488px;}
.mod_box .expertBd .prev{left:0;}
.mod_box .expertBd .next{right:0;}
.expertBd li{padding:22px 20px;margin:0 0 -1px -1px;float:left;width:204px;font-size:14px;border-left:#c2c2c2 dashed 1px;border-bottom:#c2c2c2 dashed 1px;}
.expertBd li .pic{float:left;margin-right: 10px;width: 100px;height: 100px;}
.expertBd li .pic img{width: 100%;height: 100%;}
.expertBd li .name{font-size:16px;font-weight:bold;height:55px;}
.expertBd li .name .icon{padding:0 2px;margin-left:5px;height:17px;line-height:17px;background:#70a3ed;border-radius:5px;color:#fff;font-size:12px;font-weight:normal;}
.expertBd li:hover{background: #f5f8fa;}
.mod_box_con .my_focus_pro{float:right;}
.my_focus_pro .pro_list{padding:11px 25px;}
.my_focus_pro .pro_list li{margin:0 17px;width:175px;}
.my_focus_pro .pro_list li .pic{width:172px;height:159px;}
.my_focus_pro .pro_list li .pic img{width:170px;height:157px;}
.my_focus_pro .pro_list li .name{font-size:12px;line-height:22px;height:43px;}
.my_focus_pro .arrow_icon{top:102px;}
.mod_box_con .m_enterprise{float:right;}
.mod_box_con .m_enterprise .bd{padding:22px 10px;}
/*我发布的产品*/
.my_product .pro_list{padding: 30px;}
.re_product .bd{}
.re_product .pro_list{padding: 0;overflow: hidden;}
.re_product .pro_list li,
.my_product .pro_list li{margin:0 9px 30px 9px;width:213px;border:#ddd solid 1px;}
.re_product .pro_list li .pic,
.my_product .pro_list li .pic{margin:17px;width:175px;height:175px;}
.re_product .pro_list li .name,
.my_product .pro_list li .name{margin:0 17px;font-size:12px;}
.re_product .pro_list li .price,
.my_product .pro_list li .price{margin:0 17px;}
.re_product .pro_list li .btn_box,
.my_product .pro_list li .btn_box{margin-top:10px;overflow:hidden;border-top:#e3e3e3 solid 1px;background:#f6f6f6;}
.re_product .pro_list li .btn_box a,
.my_product .pro_list li .btn_box a{float:left;margin-left:-1px;width:105px;height:38px;line-height:38px;border-left:#e3e3e3 solid 1px;text-align:center;font-size:14px;}
.re_product .pro_list li .btn_three a.btn,
.my_product .pro_list li .btn_three a.btn{width:66px;}
.re_product .pro_list li .btn_three a.update,
.my_product .pro_list li .btn_three a.update{width:80px;}
.re_product .pro_list li .btn_box i,
.my_product .pro_list li .btn_box i{display:inline-block;margin-right:5px;vertical-align:middle;width:13px;height:13px;background:url(../imgs/sprits_member.png) no-repeat -25px -207px ;}


.chart img{width: 455px;height: 245px;}

.finance_mode{}
.finance_mode .bd{padding:10px 20px;}
.finance_mode .hd .btn_key{position: absolute;top:10px;right: 10px;width: 140px;padding: 0;height: 34px;line-height: 34px;font-size: 16px;}
.member_table{width: 100%;font-size: 14px;}
.member_table th{height: 33px;line-height: 33px;background:#f9fafc;border-bottom:#f1f1f1 2px solid;font-weight: normal;}
.member_table td{height: 54px;line-height: 54px;border-bottom:1px dotted #c2c2c2;}
.evaluate_table .name{text-align: left;}
.evaluate_table th.name{padding-left: 95px;text-align: left;}
.evaluate_table td.name{width: 540px;}
.evaluate_table th,.evaluate_table td{text-align: center;}
.evaluate_table .status_ing{color:#186be5;}
.evaluate_table .status_error{color:#f00;}

.mailbox_table th,.mailbox_table td{padding-left: 35px;text-align: left;}
.mailbox_table .name{width: 270px;}
.mailbox_table .time{color:#999;}
.mailbox_table th.operate,.mailbox_table td.operate{text-align: center;}
.mailbox_table .operate a{display: inline-block;margin: 0px 5px;}

.information_filed .filed_con{font-size: 14px;}
.information_filed li .input_txt{margin-right: 20px;}
.information_filed .filed_action .btn_key{margin-right: 20px;width: 130px;}
.information_filed .filed_action .btn_weak{margin-right: 20px;padding:0;width: 130px;height: 38px;line-height: 38px;}
.information_filed .ui-select_supply{_display:inline;*display:inline-block}

/*我的公司信息*/
.item_title{margin-bottom: 20px;height: 35px;line-height: 35px;border-bottom:dashed #e3e3e3 1px;font-size: 16px;}
.companyInfo_mod .bd{padding-bottom: 60px;}
.companyInfo_mod .column_last{padding-left: 0;}
.companyInfo_mod .column_last label.keyName{position: relative;top:auto;left:auto;float: left;width: auto;padding: 0px 0px 0px 10px;}
.companyInfo_mod .column_last .filed_con{float: left;}
.companyInfo_mod .ui-select{display: inline-block;*display: inline;width: 120px;margin-right: 10px;}
.companyInfo_mod .filed_info {font-size: 14px;}
.companyInfo_mod .filed_info .w_s{width: 130px;}
.companyInfo_mod .column_last .keyName{display: inline-block;margin-left: 10px;font-weight: normal;}
.companyInfo_mod .unit{display: inline-block;margin-left: 10px;}
.companyInfo_mod .filed_action{padding:30px 0 30px 220px;border-top:dashed #e3e3e3 1px;}

.contact_table th,.contact_table td{padding-left: 0;}
.contact_table .name{padding-left:30px;width: 150px;}
.contact_table tfoot td{padding: 15px 0;text-align: center;}
.contact_table tfoot .btn_weak{height:35px;line-height: 35px;}
.contact_table .email{width: 210px;}
.contact_table .tel{width:200px;}
.contact_table .job{width:200px;}
.contact_table .name .input_txt{width: 110px;}
.contact_table .email .input_txt{width: 190px;}
.contact_table .job .ui-select{width: 160px;}

.address_pop{height: 510px;top: 50%;margin-top: -250px;}
.address_filed .sel{font-size: 12px;}
.address_filed .sel input{margin-right: 5px;}
.address_filed .filed_action .btn_key, .address_filed .filed_action .btn_weak{width: 140px;}

.user_filed .sel{display: inline-block;margin-right: 20px;}
.user_filed .sel input{margin-right:5px;}

/*3.26*/
.apply_mode{}
.apply_mode .apply_step{padding:30px 88px;}
.step_area{margin-bottom: 50px;height: 100px;background:url(../imgs/step_bg.jpg) 0 0 no-repeat;}
.step_area.step_02{background-position: 0 -110px;}
.step_area.step_03{background-position: 0 -220px;}

.step_area li{position: relative;float: left;height: 100px;width: 100px;}
.step_area li+li{margin-left: 210px;}
.step_area li em{position: absolute;top:110px;left:10px;padding-left: 30px;width: 150px;background:url(../imgs/step_bg.jpg) 0 0 no-repeat;font-size: 14px;}
.step_area li.col_01 em{background-position: 0 -355px;}
.step_area li.col_02 em{background-position: -315px -355px;}
.step_area li.col_03 em{background-position: -625px -355px;}

.apply_info{padding:50px 20px;}
.apply_info .filed_action{padding-top: 40px;}
.apply_info .filed_action .btn_key,
.apply_info .filed_action .btn_weak{width: 150px;}
.apply_info .filed_pic .thumb{float: left;margin-right: 20px;width: 128px;height: 128px;}
.apply_info .filed_pic .add_pro{line-height: 508px;background:url(../imgs/add.png) center center no-repeat;}

/* str */
.followPro_list{overflow: hidden;margin-right: -20px;padding:15px 0 35px 35px;}
.follow_mode .hd .btn_key{position: absolute;right:10px;top:8px;line-height: 34px;height: 34px;font-size: 16px;}
.followPro_list li{float: left;margin:20px 20px 0 0;width: 290px;overflow: hidden;border:1px solid #e3e3e3;text-align: center;}
.followPro_list li .name{height: 45px;line-height: 45px;border-top:1px solid #e3e3e3;font-size: 14px;overflow: hidden;}
.followPro_list li .pic{display: block;padding: 20px 0;}
.followPro_list li .pic img{width: 240px;height: 85px;}
.followPro_list li .thumb{float: left;width: 75px;height: 75px;}
.followPro_list li .pro{margin: 0px 5px;padding: 16px 0;overflow: hidden;border-top:1px solid #e3e3e3;}
.followPro_list li .pro a{margin-left: 13px;}
.followPro_list li .btn_weak{display: block;margin: 0px 18px 15px;height: 40px;line-height: 40px;font-size: 14px;}

.followChart_list{overflow: hidden;padding:15px 0 20px 0;}
.followChart_list li{float: left;margin:20px 0 0 18px;padding: 15px;width: 440px;overflow: hidden;border:1px solid #e3e3e3;}
.followChart_list li .title{color:#2c81ff;}
.followChart_list li .cart_box{margin:10px 0;overflow: hidden;}
.followChart_list li .btn_weak{width: 240px;margin: 0px 18px 0;height: 40px;line-height: 40px;font-size: 14px;}
/* end */

/*str*/
.hd_account{margin-bottom: 10px;overflow: hidden;height: 180px;border:1px solid #e3e3e3;}
.hd_account>div{float: left;}
.hd_account .column_01{width: 560px;height: 180px;background:#f9fafc;}
.hd_account .column_01 .inner{padding: 20px 20px 20px 145px;position: relative;}
.hd_account .column_01 .pic_box{position: absolute;left: 20px;top: 20px;width: 105px;text-align: center;}
.hd_account .column_01 .pic_box .thumb{width: 105px;height: 105px;}
.hd_account .column_01 h1{margin-bottom: 10px;line-height:40px;font-size: 18px;font-weight: bold;}
.hd_account .column_01 dt{float: left;}
.hd_account .column_01 dd{line-height: 20px;overflow: hidden;}
.hd_account .column_01 dd p{padding-bottom:10px;}
.hd_account .column_01 dd b{display: inline-block;margin:0 5px;width:15px;}
.hd_account .column_01 dd a{display: inline-block;margin-left: 10px;}



.hd_account .column_02{position: relative;width:217px;height: 180px;border-left:1px solid #e3e3e3;text-align: center;}
.hd_account .column_02 dl{padding: 10px;}
.hd_account .column_02 dt{margin-bottom: 10px;line-height: 40px;font-size: 24px;color:#333;}
.hd_account .column_02 .price{color:#f00;}
.hd_account .column_02 .price .number{font-size:24px;color:#f00;font-weight:bold;}
.hd_account .column_02 .price .unit{color:#333;font-size: 18px;}
.hd_account .column_02 .operate{position: absolute;bottom:15px;left:10px;right: 10px;padding:10px 0 0 0;border-top:1px dashed #e3e3e3;}
.hd_account .column_02 .operate a.btn_gray{display: inline-block;margin: 0px 5px;padding:0 10px;height: 24px;line-height: 24px;border-radius:2px;background:#f5f5f5;border:1px solid #e3e3e3;}

.hd_account a:hover{text-decoration: none;}

.bill_mode .bd{padding:30px;}
.bill_mode .selectLb_box{padding-top:8px;font-size: 14px;*line-height:30px}
.bill_mode .num_color{font-size:24px;color:#f00;font-family:arial}
.bill_mode .hd_select .input_txt{width: 150px;}
.bill_mode .hd_select .sel_box{display: inline-block;margin:0 10px;*float:left}
.bill_mode .hd_select .sel_box input{margin-right: 5px;*float:left}
.bill_mode .hd_select .keyName{width:150px;display:inline-block;text-align:right;*float:left}
.bill_mode .borer_1{border-top:1px dashed #dfdfe1;padding-top:30px}
.bill_mode .btn_box{margin:0 0 50px 180px}
.bill_mode .btn_box .btn_key{width:110px;height:36px;line-height:36px;font-size:16px}
.bill_mode .con{display:inline-block;vertical-align:middle;*float:left}
.bill_mode .account_information{font-weight:bold;font-size:16px;line-height:40px;color:#333}
.bill_table{text-align: center;}
.bill_table th{padding-left: 20px;font-weight: normal;}
.bill_table td{padding: 10px 10px 10px 20px;vertical-align: top;height:auto;}
.bill_table .status_add{color:#f00;font-weight: bold;}
.bill_table .status_subtract{color:#50a200;font-weight: bold;}
.bill_table .date{color:#999;font-size: 12px;}




/*end*/