<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>产品中心</title>
    <link href="../../../static/css/global.css" th:href="@{../../../static/css/global.css}" rel="stylesheet" type="text/css"  />
    <link href="../../../static/css/product.css"  th:href="@{../../../static/css/product.css}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="../../../static/js/jquery-1.10.2.min.js" th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" src="../../../static/js/slides.min.jquery.js" th:src="@{/static/js/slides.min.jquery.js}"></script>
    <script type="text/javascript" src="../../../static/js/bootstrap-paginator.js" th:src="@{/static/js/bootstrap-paginator.js}"></script>
    <script>
        $(function(){

                var options = {
                    currentPage: $("[name=page]").val(),
                    totalPages: $("[name=totalPage]").val(),
                    onPageClicked:function(e,type,page){
                        $("[name=page]").val(page);
                        $("#searchForm").submit();
                    }
                };
                $('#page').bootstrapPaginator(options);


            $('.index_focus').slides({
                preload: true,
                preloadImage: 'img/loading.gif',
                play: 5000,
                pause: 2500,
                hoverPause: true
            });
        });
    </script>
</head>
<body>
<div class="member_bar">
    <div class="wrap">
        <div class="welName">您好，<span class="blue">yicai</span> </div>
        <ul class="top_menu">
            <li class="item"><a href="javascript:void(0)" class="blue">医采网首页</a> </li>
            <li class="item"><a href="javascript:void(0)">会员中心</a> </li>
            <li class="item"><a href="javascript:void(0)"><i class="icon i_cart"></i>我的购物车<span class="num">25</span><i class="icon i_arrow"></i></a> </li>
            <li class="item"><a href="javascript:void(0)">我的关注</a> </li>
            <li class="item"><a href="javascript:void(0)">我是供应商</a> </li>
            <li class="item service"><a href="javascript:void(0)"><i class="icon i_ser"></i>在线客服咨询</a> </li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="wrap">
        <div class="logo_member"><a href="javascript:void(0)"><img src="imgs/logo_member.png" /></a> </div>
        <ul class="nav">
            <li class="on"><a href="javascript:void(0)"><i></i>首页</a> </li>
            <li><a href="javascript:void(0)"><i></i>我要卖</a> </li>
        </ul>
        <div class="head_search">
            <div class="ui-select">
                <div class="selectMod"><span class="select-input">产品</span><span class="select-drop"><s class="arrow arrow-tthin"></s></span></div>
                <ul class="select-list">
                    <li class="hover">供应商</li>
                    <li>采购商</li>
                    <li>产品行情</li>
                    <li>价格指数</li>
                </ul>
            </div>
            <div class="head_search_con">
                <form>
                    <input type="text" class="keyword" placeholder="请输入关键词"/>
                    <input type="button" title="搜索" value="搜索" class="search_btn"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container container_center">
    <div class="wrap">
        <div class="crumbs"><a href="javascript:void(0)">首页</a><span class="gt">&gt;</span><a href="javascript:void(0)">产品中心</a><span class="gt">&gt;</span><span class="current_page">科室解决方案</span></div>
        <div class="mod_col2">
            <div class="mod_p_aside">
                <div class="mod_p_sortnav">
                    <ul class="mod_p_sortnav_list">
                        <li class="item" th:each="category,s1:${categoryList}" th:if="${9>=s1.count}">
                            <h3 class="hd"><a href="javascript:void(0)" th:id="${category.id}" onclick="changeClass(this.id)" class="cur" th:text="${category.name}"></a></h3>
                            <div class="bd">
                                <a href="javascript:void(0)" th:each="child,s:${category.child}" onclick="changeClass(this.id)" th:id="${child.id}" th:if="${3>=s.count}" th:text="${child.name}">无影灯</a>
                            </div>
                        </li>
                    </ul>
                    <div class="mod_p_sort_more"><a href="javascript:void(0)">产看所有分类<i class="gt">&gt;&gt;</i></a></div>
                </div>
            </div>
            <div class="mod_p_main">
                <div class="index_focus mod_focus_img">
                    <div class="slides_container">
                        <a href="javascript:void(0)" class="index_focus_pic"><img src="thumb/img958x320.jpg" alt=""/><h2 class="index_focus_info">家长如何早期发现自己的孩子有自闭症</h2></a>
                        <a href="javascript:void(0)" class="index_focus_pic"><img src="thumb/img958x320.jpg" alt=""/><h2 class="index_focus_info">家长如何早期发现自己的孩子有自闭症</h2></a>
                        <a href="javascript:void(0)" class="index_focus_pic"><img src="thumb/img958x320.jpg" alt=""/><h2 class="index_focus_info">家长如何早期发现自己的孩子有自闭症</h2></a>
                        <a href="javascript:void(0)" class="index_focus_pic"><img src="thumb/img958x320.jpg" alt=""/><h2 class="index_focus_info">家长如何早期发现自己的孩子有自闭症</h2></a>
                    </div>
                </div>
                <form method="post" action="/product/findGreatProducts.html" id="searchForm">
                    <input type="hidden" name="page" th:value="${page.page}" />
                    <input type="hidden" name="totalPage" th:value="${page.totalPage}" />
                <div class="mod_p_recom nice_pro_mod">
                    <h2 class="hd">优秀产品</h2>
                    <ul class="mod_p_recom_list nice_pro_list" th:each="good:${page.result}">
                        <li class="item">
                            <div class="pic"> <a th:href="@{/product/productStandard.html(productId=${good.id})}" ><img src="thumb/img210x210.jpg" alt=""/></a></div>
                            <h3><a th:href="@{/product/productStandard.html(productId=${good.id})}" ><i class="ico ren_ico"></i><span th:text="${good.name}"></span> </a></h3>
                            <p class="sum">价格：<span th:text="${good.money}"></span> </p>
                            <p class="sum">已售：<span th:text="${good.saleCount==null}?'0':${good.saleCount}"></span>件</p>
                        </li>
                    </ul>
                </div>
                </form>
                <div class="pagination">
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <div class="wrap">
        <dl class="ft_right">
            <dt><i class="ico ft_tel_ico"></i>服务热线：</dt>
            <dd>
                <p>021－8888888</p>
                <p>021－8888888</p>
            </dd>
        </dl>
        <div class="ft_nav">
            <a href="javascript:void(0)">首页</a><a href="javascript:void(0)">关于我们</a><a href="javascript:void(0)">会员服务</a><a href="javascript:void(0)">广告服务</a><a href="javascript:void(0)">在线客服咨询</a><a href="javascript:void(0)">专家库</a><a href="javascript:void(0)">招标采购平台</a><a href="javascript:void(0)">网站地图</a><a href="javascript:void(0)">友情链接</a>
        </div>
        <p class="ft_copy"> 版权所有 &copy; 中国医疗器械采购公共服务平台  www.cyicai.com <br/> Copyright zhongguo yiliaoqixie International Financial Asset E</p>
    </div>
</div>
</body>
</html>