<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="foreground/layout-simple">
<head>
    <script>
        $(function(){
            var options = {
                currentPage: $("[name=page]").val(),
                totalPages: $("[name=totalPage]").val(),
                onPageClicked:function(e,type,page){
                    $("[name=page]").val(page);
                    $("#searchForm").submit();
                }
            };
            $('#page').bootstrapPaginator(options);


            $("#quxiao").click(function(){
                var attentionId =$(this).prev().val();
                $.ajax({
                    url: "/memberCenter/deleteAttention.html",
                    type: 'POST',
                    data: {"id":attentionId},
                    dataType: "json",
                    success: function (date) {
                        if(date.suc){
                            $.alert("取消关注成功",function(){
                                window.location.href="/memberCenter/findMyAttentionProduct.html";
                            });
                        }else{
                            $.alert("取消关注失败",function(){
                                window.location.href="/memberCenter/findMyAttentionProduct.html";
                            });
                        }
                    }
                });
            });
        });
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>我要买</title>
</head>
<body>
<div id="content" layout:fragment="content">

        <div class="crumbs">当前位置: <a href="javascript:void(0)">首页</a><span class="gt">&gt;</span><span class="current_page">我的金融服务</span></div>
        <div class="member_right">
            <div class="mod_box follow_mode">
                <div class="hd">
                    <h3 class="title">我关注的产品</h3><a href="/product/center.html" class="btn_key">添加产品关注</a>
                </div>
                <div class="bd">
                    <form action="/memberCenter/findMyAttentionCompany.html" id="searchForm">
                        <input type="hidden" name="page" th:value="${page.page}" />
                        <input type="hidden" name="totalPage" th:value="${page.totalPage}" />
                    <ul class="followPro_list">
                        <li th:each="product:${page.result}">
                            <a th:href="@{/product/productStandard.html(productId=${product.id})}" class="pic"><img th:src="${product.imagePath}" alt=""/></a>
                            <h3 class="name"><a th:href="@{/product/productStandard.html(productId=${product.id})}" ><span th:text="${product.name}"></span></a></h3>
                            <input type="hidden" class="attentionId" th:value="${product.attentionId}"/>
                            <a  class="btn_weak" id="quxiao" >取消关注</a>
                        </li>
                    </ul>
                    </form>
                    <div class="pagination">
                        <div id="page"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="member_left">
            <ul class=" member_menu">
                <li><h3 class="menu_hd"><i class="minus_ico"></i><a href="javascript:void(0)">会员中心</a></h3>

                </li>
                <li>
                    <h3 class="menu_hd"><i class="minus_ico"></i><a href="javascript:void(0)">常用功能</a></h3>
                    <div class="sub_menu">
                        <a href="/memberCenter/myBuy.html">我要买</a>
                        <a href="/memberCenter/mySell.html">我要卖</a>
                        <a href="javascript:void(0)">发布新产品</a>
                        <a href="/product/myProduct.html ">我发布的产品</a>
                        <a href="/memberCenter/excellentProductApplication.html">优秀产品认证</a>
                        <a href="javascript:void(0)">申请3D产品展示</a>
                        <a href="/company/apply.html?t=1">企业诚信认证</a>
                        <a href="/company/apply.html?t=2">企业金牌认证</a>
                    </div>
                </li>
                <li>
                    <h3 class="menu_hd"><i class="plus_ico"></i><a href="javascript:void(0)">特色服务</a></h3>
                    <div class="sub_menu" style="display: none;">
                        <a href="/qualityEval/list.html">产品质量评估</a>
                        <a href="/expertService/list.html">专家库</a>
                        <a href="/financialProduct/list.html">金融服务</a>
                    </div>
                </li>
                <li>
                    <h3 class="menu_hd"><i class="plus_ico"></i><a href="javascript:void(0)">我的关注</a></h3>
                    <div class="sub_menu" style="display: none;">
                        <a href="/memberCenter/findMyAttentionProduct.htm">我关注的产品</a>
                        <a href="/memberCenter/findMyAttentionCompany.htm">我关注的企业</a>
                        <a href="">我关注的价格指数</a>
                    </div>
                </li>
                <li>
                    <h3 class="menu_hd"><i class="plus_ico"></i><a href="javascript:void(0)">客户服务</a></h3>
                    <div class="sub_menu" style="display: none;">
                        <a href="javascript:void(0)">投诉&;举报</a>
                        <a href="/userNoteType/list.html">医采币发票申请</a>
                        <a href="javascript:void(0)">联系客服</a>
                    </div>
                </li>
            </ul>
        </div>

</div>
</body>
</html>