<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../static/newcss/common.css" th:href="@{/static/newcss/common.css}" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>求购详情</title>
</head>
<body>
<div id="content" layout:fragment="content">
<div class="crumbs"><a href="javascript:void(0)">首页</a><span class="gt">&gt;</span><span class="current_page">求购详细信息</span></div>
    <div class="head_content_1200">

        <div class="gc_right">
            <div class="gc_right_top">求购详细信息</div>

            <ul class="gc_ul">
                <li class="hover">
                    <label class="keyName" >求购人&nbsp;:</label>
                    <a href="" class="gc_btna">联络求购人</a>
                    <div class="filed_con">
                        <span th:text="${purchases.loginName}"></span>
                    </div>
                </li>
                <li>
                    <label class="keyName" >标题&nbsp;:</label>

                    <div class="filed_con">
                        <span th:text="${purchases.title}"></span>
                    </div>
                </li>
                <li  class="hover">
                    <label class="keyName" >产品名称&nbsp;:</label>

                    <div class="filed_con">
                        <span th:text="${purchases.name}"></span>
                    </div>
                </li>
                <li>
                    <label class="keyName" >供货数量&nbsp;:</label>

                    <div class="filed_con">
                        <span th:text="${purchases.num}"></span>
                    </div>
                </li>
                <li  class="hover">
                    <label class="keyName" >计量/单位&nbsp;: </label>

                    <div class="filed_con">
                        <span th:text="${purchases.units}"></span>
                    </div>
                </li>
                <li>
                    <label class="keyName" >目标价格&nbsp;:  </label>

                    <div class="filed_con">
                        <span th:text="${purchases.price}"></span>
                    </div>
                </li>
                <li  class="hover">
                    <label class="keyName" >补充说明&nbsp;:</label>

                    <div class="filed_con">
                        <span th:utext="${purchases.desc}"></span>
                    </div>
                </li>
                <li>

                </li>

                <li  class="hover">
                    <label class="keyName" >联系人&nbsp;: </label>

                    <div class="filed_con">
                        <span th:text="${purchases.userName}"></span>
                    </div>
                </li>
                <li>
                    <label class="keyName" >联系电话&nbsp;:</label>

                    <div class="filed_con">
                        <span th:text="${purchases.phone}"></span>
                    </div>
                </li>
                <li  class="hover">
                    <label class="keyName" >报价有效期&nbsp;:</label>

                    <div class="filed_con">
                        <span th:text="${purchases.effectiveDate}"></span>
                    </div>
                </li>
                <li>

                </li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>