<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<meta charset="utf-8"/>
	<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">ul</title>

	<meta name="description" content="responsive photo gallery using colorbox"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../../../static/css/global.css" th:href="@{/static/css/global.css}" rel="stylesheet" type="text/css" />
	<link href="../../../static/css/signin.css" th:href="@{/static/css/signin.css}" rel="stylesheet" type="text/css" />


	<link href="../../../static/css/ui-dialog.css" th:href="@{/static/css/ui-dialog.css}" rel="stylesheet" type="text/css" />
	<link href="../../../static/css/fix.css" th:href="@{/static/css/fix.css}" rel="stylesheet" type="text/css" />
	<link href="../../../static/css/ace.min.css" th:href="@{/static/css/ace.min.css}" rel="stylesheet" type="text/css" />
	<!--<link href="../../../static/css/product.css" th:href="@{/static/css/product.css}" rel="stylesheet" type="text/css" />-->
	<!--<link href="../../../static/css/font-awesome.min.css" th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />-->
	<!--<link href="../../../static/css/font-awesome-ie7.min.css" th:href="@{/static/css/font-awesome-ie7.min.css}" rel="stylesheet" type="text/css" />-->

	<script type="text/javascript" src="../../../static/js/jquery-1.10.2.min.js" th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript" src="../../../static/js/js.js" th:src="@{/static/js/js.js}"></script>


	<script type="text/javascript" src="../../../static/js/jquery.form.js" th:src="@{/static/js/jquery.form.js}"></script>
	<script type="text/javascript" src="../../../static/js/jquery.metadata.js" th:src="@{/static/js/jquery.metadata.js}"></script>
	<script type="text/javascript" src="../../../static/js/slides.min.jquery.js" th:src="@{/static/js/slides.min.jquery.js}"></script>
	<script type="text/javascript" src="../../../static/js/dialog-plus-min.js" th:src="@{/static/js/dialog-plus-min.js}"></script>
	<script type="text/javascript" src="../../../static/js/dialog.js" th:src="@{/static/js/dialog.js}"></script>
	<script type="text/javascript" src="../../../static/js/scroll.js" th:src="@{/static/js/scroll.js}"></script>
	<script type="text/javascript" src="../../../static/js/jquery.validate.min.js" th:src="@{/static/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" src="../../../static/js/validate-methods.js" th:src="@{/static/js/validate-methods.js}"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap-paginator.js" th:src="@{/static/js/bootstrap-paginator.js}"></script>
	<script type="text/javascript" src="../../../static/js/jquery.validate.min.js" th:src="@{/static/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" src="../../../static/js/ace-elements.min.js" th:src="@{/static/js/ace-elements.min.js}"></script>
	<script th:src="@{/js/datepicker/WdatePicker.js}" src="../../../js/datepicker/WdatePicker.js"></script>
</head>
<body>
<div id="loadingDiv" style="position:fixed;display:none;z-index:2000;top:0px;left:0px;width:100%;height:100%;background-color:rgba(255,255,255,0.5)">
	<img alt="医采网-格式图片" width="64px" height="64px" src="../../../static/imgs/loading.gif" style="position:absolute;left:50%;top:50%;margin:-32px 0px 0px -32px;"/>
</div>
<div class="top_bar">
	<div class="wrap">
		<div class="top_nav"><a href="/">医采网首页</a> ｜
			<!--<span style="color: #000000"></span>-->

			<a href="/login/toLogin.htm"><span class="light">请登录／</span></a>

			<a href="/user/toRegisterCompany.htm"><span class="light">免费注册</span></a> ｜
			<a href="/memberCenter/index.htm">会员中心</a> ｜
			<a href="javascript:void(0)">客服咨询</a></div>
	</div>
</div>
<div class="head">
	<div class="wrap">
		<h1 class="logo"><a href="javascript:void(0)">中国医采网</a></h1><h2 class="sum_logo">欢迎</h2>
	</div>
</div>
<div class="container">
	<div class="wrap" layout:fragment="content">

	</div>
</div>
<div class="foot">
	<div class="wrap">
		<dl class="ft_right">
			<dt><i class="ico ft_tel_ico"></i>服务热线：</dt>
			<dd>
				<p>021－8888888</p>
				<p>021－8888888</p>
			</dd>
		</dl>
		<div class="ft_nav">
			<a href="javascript:void(0)">首页</a><a href="javascript:void(0)">关于我们</a><a href="javascript:void(0)">会员服务</a><a href="javascript:void(0)">广告服务</a><a href="javascript:void(0)">在线客服咨询</a><a href="javascript:void(0)">专家库</a><a href="javascript:void(0)">招标采购平台</a><a href="javascript:void(0)">网站地图</a><a href="javascript:void(0)">友情链接</a>
		</div>
		<p class="ft_copy"> 版权所有 &copy; 中国医疗器械采购公共服务平台  www.cyicai.com <br/> Copyright zhongguo yiliaoqixie International Financial Asset E</p>
	</div>
</div>
</body>
</html>