<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="foreground/layout-simple">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<title>密码修改</title>
	<script>
		$(function(){
			$("#loginError").hide();
			$("#paymentError").hide();
			//提交更新
			$("#loginForm").validate({
				checkStart : true,
				errorElement: 'span',
				errorClass: 'help-inline',
				focusInvalid: false,
				rules : {
					oldLoginPassword : {required: true},
					newLoginPassword:{required:true,minlength:6},
					sureLoginPassword:{required:true,equalTo:"#newLoginPassword"}
				},
				messages : {
					oldLoginPassword : {required: "旧密码不能为空"},
					newLoginPassword : {required: "请填写新密码",minlength:"新密码最少为6个字符"},
					sureLoginPassword : {required: "请填写确认密码",equalTo:"两次密码输入不一致"}
				},
				submitHandler : function(form) {
					$("#loadingDiv").show();
					$("#loginForm").ajaxSubmit({
						dataType:"json",
						type:"post",
						success:function(date,res,me){
							if(date.flag){
								$("#loadingDiv").hide();
								$.alert("修改成功!",function(){
									window.location.href="/user/toUpdatePassword.html";
								});
							}else {
								if(date.msg=='旧密码错误'){
									$("#loginError").show();
									$("#loadingDiv").hide();
								}else{
									$("#loadingDiv").hide();
									$.alert("修改失败了！" + date.msg);
								}
							}
						},error:function(a,b){console.info(a,b);}});
				},
				highlight: function (e) {
					$(e).closest('.control-group').removeClass('info').addClass('error');
				}
			});

			$("#paymentForm").validate({
				checkStart : true,
				errorElement: 'span',
				errorClass: 'help-inline',
				focusInvalid: false,
				rules : {
					oldPaymentPassword : {required: $("#oldPaymentPassword").length>0 },
					newPaymentPassword:{required:true,minlength:6},
					surePaymentPassword:{required:true,equalTo:"#newPaymentPassword"}
				},
				messages : {
					oldPaymentPassword : {required: "旧密码不能为空"},
					newPaymentPassword : {required: "请填写新密码",minlength:"新密码最少为6个字符"},
					surePaymentPassword : {required: "请填写确认密码",equalTo:"两次密码输入不一致"}
				},
				submitHandler : function(form) {
					$("#loadingDiv").show();
					$("#paymentForm").ajaxSubmit({
						dataType:"json",
						type:"post",
						success:function(date,res,me){
							if(date.flag){
								$("#loadingDiv").hide();
								$.alert("修改成功!",function(){
									window.location.href="/user/toUpdatePassword.html";
								});
							}else {
								if(date.msg=='旧密码错误'){
									$("#paymentError").show();
									$("#loadingDiv").hide();
								}else{
									$("#loadingDiv").hide();
									$.alert("修改失败了！" + date.msg);
								}
							}
						},error:function(a,b){console.info(a,b);}});
				},
				highlight: function (e) {
					$(e).closest('.control-group').removeClass('info').addClass('error');
				}
			});
		});
	</script>
</head>
<body class="account_container">
<div id="content" layout:fragment="content">
	<div class="wrap">
		<div class="crumbs"><a href="javascript:void(0)">首页</a><span class="gt">&gt;</span><span class="current_page">密码修改</span></div>
		<div class="main_right">
			<div class="cur_title"><h2>密码修改</h2></div>
			<div class="password_mod js_tabs_mod">
				<div class="hd hd_tab">
					<a href="javascript:void(0)" class="current js_tabs_nav">登录密码</a>
					<a href="javascript:void(0)" class="js_tabs_nav">支付密码</a>
				</div>
				<div class="bd">
					<form id="loginForm" th:action="@{/user/doUpdateLogin.htm}" method="post">
						<ul class="filed_info pw_filed js_tabs_con">
							<li>
								<label class="keyName">旧密码：</label>
								<div class="filed_con control-group">
									<input type="password" name="oldLoginPassword" value="" placeholder="请输入原有密码" class="input_txt"/></div>
									<p id="loginError" class="tip_text arrow_tip">旧密码错误</p>
							</li>
							<li>
								<label class="keyName">新密码：</label>
								<div class="filed_con control-group">
									<input type="password" name="newLoginPassword" id="newLoginPassword" value="" placeholder="请输入新密码" class="input_txt"/></div>
							</li>
							<li>
								<label class="keyName">确认密码：</label>
								<div class="filed_con control-group">
									<input name="sureLoginPassword" type="password" value="" placeholder="请再次输入新密码" class="input_txt"/></div>

							</li>
							<li class="filed_action">
								<!--<a href="javascript:void(0)" class="btn_key">修改密码</a>-->
								<input style="cursor: pointer" type="submit" id="login_submit" class="btn_key" value="修改密码"/>
							</li>
						</ul>
					</form>

					<form id="paymentForm" th:action="@{/user/toUpdatePayment.htm}" method="post">
						<ul class="filed_info pw_filed js_tabs_con" style="display: none;">
							<li th:if="${isPayment!='yes'}">
								<label class="keyName">旧支付密码：</label>
								<div class="filed_con control-group">
									<input type="password" id="oldPaymentPassword" name="oldPaymentPassword" value="" placeholder="请输入原有密码" class="input_txt"/></div>
								<p id="paymentError" class="tip_text arrow_tip">旧密码错误</p>
							</li>
							<li th:if="${isPayment=='yes'}">
								<span style="color: red">您还没设置支付密码，请设置!</span>
							</li>

							<li>
								<label class="keyName">新密码：</label>
								<div class="filed_con control-group">
									<input type="password" id="newPaymentPassword" name="newPaymentPassword" value="" placeholder="请输入新密码" class="input_txt"/></div>
							</li>
							<li>
								<label class="keyName">确认密码：</label>
								<div class="filed_con control-group">
									<input type="password" name="surePaymentPassword" value="" placeholder="请再次输入新密码" class="input_txt"/></div>
							</li>
							<li class="filed_action">
								<!--<a href="javascript:void(0)" class="btn_key">修改密码</a>-->
								<input style="cursor: pointer" type="submit" id="payment_submit" class="btn_key" value="修改密码"/>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
		<div class="asid_left">
			<div class="account_menu">
				<ul class="aside_menu">
					<li>
						<h3 class="menu_hd"><a href="javascript:void(0)">会员中心</a><i class="plus_ico"></i></h3>
						<div class="sub_menu" style="display: none;">
							<a href="javascript:void(0)">心外科</a>
							<a href="javascript:void(0)" >肿瘤科</a>
							<a href="javascript:void(0)">妇科</a>
							<a href="javascript:void(0)">口腔科</a>
						</div>
					</li>
					<li>
						<h3 class="menu_hd"><a  href="javascript:void(0)">账户信息设置 </a><i class="minus_ico"></i></h3>
						<div class="sub_menu" >
							<a href="/memberCenter/accountInfo.html">个人信息</a>
							<a href="/memberCenter/companyInfo.html">公司信息</a>
							<a href="javascript:void(0)" class="acitve">密码修改</a>
							<a href="/company/toLinkMan.htm">联系人管理</a>
							<a href="/userNoteType/list.htm">发票信息</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>