<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="foreground/layout-simple">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>发票管理-发票信息管理</title>
    <script type="text/javascript" src="../../../js/previewimg.js" th:src="@{/js/previewimg.js}"></script>
</head>
<body>
<div id="content" layout:fragment="content">
    <div class="wrap">
        <div class="crumbs"><a href="javascript:void(0)">首页</a><span class="gt">&gt;</span><span class="current_page">发票管理</span></div>
        <div class="main_right">
            <div class="cur_title"><h2>发票管理</h2></div>
            <div class="manage_mod">
                <div class="hd hd_tab">
                    <a href="/userNoteType/list.html">发票列表</a>
                    <a href="javascript:void(0)" class="current">发票信息管理</a>
                    <a href="/commonsite/list.html">寄送地址管理</a>
                </div>
                <div class="bd">
                   <!-- <h4 class="write_tips">*请您完善以下发票信息。(发票信息仅限一条，一旦生效无法修改，请您慎重填写。)</h4>-->
                    <ul class="filed_info invoice_filed">
                        <li>
                            <label class="keyName"><em class="star">*</em>开具类型：</label>
                            <div class="filed_con">
                            <label class="sel_box" th:text="${userNoteList.usernoteType==1?'个人':'企业'}">
                            </label>
                            </div>
                        </li>
                        <li>
                            <label class="keyName"><em class="star">*</em>发票抬头：</label>
                            <div class="filed_con control-group" id="titleName" th:text="${userNoteList.usernoteTitle}">
                            </div>
                        </li>
                        <li>
                            <label class="keyName"><em class="star">*</em>发票类型：</label>
                            <div class="filed_con">
                                <label class="sel_box" th:text="${userNoteList.usernoteStatus==1?'增值税普通发票':'增税专用发票'}"></label>
                            </div>
                        </li>
                        <li id="none1" th:if="${userNoteList.usernoteRegistration!=null}">
                            <label class="keyName"><em class="star">*</em>税务登记证号：</label>
                            <div class="filed_con control-group" th:text="${userNoteList.usernoteRegistration}"></div>
                        </li>
                        <li id="none2" th:if="${userNoteList.usernoteBankname!=null}">
                            <label class="keyName"><em class="star">*</em>基本户开户银行名称：</label>
                            <div class="filed_con control-group" th:text="${userNoteList.usernoteBankname}"></div>
                        </li>
                        <li id="none3" th:if="${userNoteList.usernoteBankaccount!=null}">
                            <label class="keyName"><em class="star">*</em>基本户开户账号：</label>
                            <div class="filed_con control-group" th:text="${userNoteList.usernoteBankaccount}"></div>
                        </li>
                        <li id="none4"  th:if="${userNoteList.usernoteRegaddress!=null}">
                            <label class="keyName"><em class="star">*</em>注册场所地址：</label>
                            <div class="filed_con control-group" th:text="${userNoteList.usernoteRegaddress}"></div>
                        </li>
                        <li id="none5" th:if="${userNoteList.usernotePhone!=null}">
                            <label class="keyName"><em class="star">*</em>注册电话号码：</label>
                            <div class="filed_con control-group" th:text="${userNoteList.usernotePhone}"></div>
                        </li>
                        <li id="none6" th:if="${userNoteList.usernoteBusinesslicense!=null}">
                            <label class="keyName"><em class="star">*</em>营业执照复印件：</label>
                            <div class="filed_con">
                                <div style="border: solid 1px #d2e2e2;width:227px;height:227px;margin-bottom:5px;" id="divPreview2">
                                    <img id="imgHeadPhoto2" style="width: 225px; height: 225px; " alt="" th:src="${userNoteList.usernoteBusinesslicense2}"/>
                                </div>
                            </div>
                        </li>
                        <li id="none7" th:if="${userNoteList.usernoteTaxation!=null}">
                            <label class="keyName"><em class="star">*</em>税务登记复印件：</label>
                            <div class="filed_con">
                                <div style="border: solid 1px #d2e2e2;width:227px;height:227px;margin-bottom:5px;" id="divPreview1">
                                    <img id="imgHeadPhoto1" style="width: 225px; height: 225px; " alt=""  th:src="${userNoteList.usernoteTaxation2}"/>
                                </div>
                            </div>
                        </li>
                        <li id="none8" th:if="${userNoteList.usernotePaytaxes!=null}">
                            <label class="keyName"><em class="star">*</em>一般纳税人资格认证复印件：</label>
                            <div class="filed_con control-group">
                                <div style="border: solid 1px #d2e2e2;width:227px;height:227px;margin-bottom:5px;" id="divPreview">
                                    <img id="imgHeadPhoto" style="width: 225px; height: 225px; " alt="" th:src="${userNoteList.usernotePaytaxes2}"/>
                                </div>
                            </div>
                        </li>
                       <!-- <li class="filed_action"><a href="javascript:void(0)" class="btn_key">提交</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="asid_left">
            <div class="account_menu">
                <ul class="aside_menu">
                    <li>
                        <h3 class="menu_hd"><a href="javascript:void(0)">会员中心</a><i class="minus_ico"></i></h3>
                        <div class="sub_menu" style="display: none">
                            <a href="javascript:void(0)">心外科</a>
                            <a href="javascript:void(0)" >肿瘤科</a>
                            <a href="javascript:void(0)">妇科</a>
                            <a href="javascript:void(0)">口腔科</a>
                        </div>
                    </li>
                    <li>
                        <h3 class="menu_hd"><a href="javascript:void(0)">账户信息设置 </a><i class="plus_ico"></i></h3>
                        <div class="sub_menu" >
                            <a href="/memberCenter/accountInfo.html">个人信息</a>
                            <a href="/memberCenter/companyInfo.html">公司信息</a>
                            <a href="/user/toUpdatePassword.html">密码修改</a>
                            <a href="/company/toLinkMan.html">联系人管理</a>
                            <a href="/userNoteType/list.html" class="acitve">发票信息</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
